.container {

    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 10px;

    /* background-color: #405D724D; */
    background-color: rgba(64, 93, 114, 0.3);
    border-radius: 20px;
    padding: 16px 12px;

    transition: background-color 0.3s ease;
}

.container:hover {
    background-color: rgba(64, 93, 114, 1);
}