.container {
    background-color: #758693;
    border-radius: 32px;
    max-height: 128px;
    padding: 30px 104px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    width: 292px;
    margin: 0 auto;

    font-size: 56px;
    line-height: 67.77px;
    font-weight: 400;
    color: #FFF8F3;
}