.container {
    display: grid;
    grid-template-columns: 50px 60px;
    gap: 18px;
}

.btn {
    color: #FFF8F3;
    display: grid;
    grid-template-columns: 30px 12px;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 0px solid black;
  }
 .reset {
    color: #FFF8F3;
 }

 @media (max-width: 768px){
    .container {
        display: grid;
        justify-items:start;
        grid-template-columns: 1fr;
        gap: 5px;
    }
 }