.container {
    border-top: 0.5px solid white;
    padding-top: 8px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    /* gap: 24px; */
}

.tag {
    background-color: #FFF8F3;
    border-radius: 50px;
    border: 0;
    padding: 10px;
    white-space: nowrap; 

    transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover, .active {
    background-color: #758694;
    color: #FFF8F3;
}

@media (max-width: 340px) {
    .container {
        gap: 10px;
    }
    .tag{
        width: min-content;
        display: inline-block;
    }
  }